<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--mapper/UserMapper.xml实现dao/UserDao接口里的具体方法，所以这里的namespace是com.csranger.miaosha.dao.UserDao文件，将
UserDao接口和UserMapper.xml具体实现关联起来-->
<mapper namespace="com.csranger.miaosha.dao.UserDao">

    <!-- result 这里可简写，因为Mybatis配资文件中使用了typeAlias resultType将查询结果银蛇到user对象-->
    <!--id就是实现接口方法的方法名-->
    <select id="getUserById" resultType="com.csranger.miaosha.model.User">
        select id, name from user where id = #{id}
    </select>

    <!--向user表中插入一条记录-->
    <insert id="insert" parameterType="com.csranger.miaosha.model.User">
        insert into user(id, name) values (#{id}, #{name})
    </insert>

</mapper>